#afficheMatch {
    border: 2px solid;
    padding: 2em;
    padding-top: 0;
    margin-right: 2%;
    width: 45%;
    float: left;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

body {
    margin: 2em;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}

p {
    font-size: 1.2em;
}

.uppercase {
    text-transform: uppercase;
}

img {
    width: 100%;
    position: absolute;
    z-index: 0;
    display: none;
}

#test_ouverture {
    border: 2px solid blue;
    float: left;
    width: 200px;
    height: 200px;
    display: none;
}





#apercu {
    width: 48%;
    height: 30em;
    float: left;
    position: relative;
}

#apercu img {
    display: block;
}

#apercu p#titreapercu,
#apercu p#texteapercu {
    position: absolute;
    margin-left: 0.9em;
    color: white;
}

#apercu p#titreapercu {
    margin-top: 0.7em;
    width: 12.7em;
    font-size: 40pt;
    font-weight: 900;
}

#apercu p#texteapercu {
    bottom: 0;
    margin-left: 1.8em;
    margin-bottom: 1.4em;
    font-weight: 700;
    width: 20.6em;
    font-size: 20pt;
}























@page {
    size: 21cm 21cm;
    margin: 1cm;
}

@media print {

    #afficheMatch {
        display: none;
    }

    body {
        margin: 0;
    }

    h1 {
        display: none;
    }

    img {
        display: none;
    }

    #apercu {
        width: 100%;
    }

    apercu img {
        display: block;
    }

    h2 {
        display: none;
    }

    p {
        color: white;
    }



}
